$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.margin-top {
  margin-top: 1em;
}

.github-stars {
  margin-top: 0.7em;
  margin-left: 1em;
}

.dt-long {
  dt, dd {
    padding-top: 0.5em;
  }

  dt {
    width: 200px;
    margin-right: 1em;
  }
}

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
@import 'modal/modal.scss';
// endinjector
