<header class="hero-unit" id="banner">
  <div class="container">
    <div ng-hide="savedGem">
      <h1>Add your Gem to track it!</h1>
      <p class="lead">Provide your gem name and we will track download statistics for it.</p>
    </div>

    <div ng-show="savedGem">
      <h1>Thanks!</h1>
      <p class="lead">The {{gemName}} gem was added to our database.</p>
      <p><a ng-href="/gems/{{gemName}}" class="btn btn-lg btn-danger">See stats for {{gemName}}</a></p>
    </div>
  </div>
</header>

<div class="container" ng-hide="savedGem">
  <div class="row">

    <div class="col-lg-5 col-lg-offset-4">
      <h1 class="page-header">What's your gem name?</h1>

      <div class="input-group" ng-class="{ 'has-error': errors.length }">
        <input type="text" class="form-control" placeholder="Gem name" ng-model="gemName">
        <span class="input-group-btn">
          <button class="btn btn-danger" type="button" ng-click="addGem()" ng-disabled="clickedSubmit">Add</button>
        </span>
      </div><!-- /input-group -->

      <div class="alert alert-danger margin-top" role="alert" ng-repeat="error in errors">{{ error }}</div>
    </div>

  </div>
</div>
