<header class="hero-unit" id="banner">
  <div class="container">
    <h1>{{gem.name}}</h1>
    <span class="fa fa-refresh fa-4x fa-spin" ng-hide="gemDetails"></span>
    <p class="lead">{{gemDetails.info}}</p>
  </div>
</header>

<div class="container">

  <div class="row">
    <div class="col-lg-12" ng-hide="enabledStats">
      <div class="alert alert-warning">
        We need to collect statistics for two days at least before showing more detailed charts.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Basic gem info</h1>
    </div>

    <div class="col-lg-5">
      <dl class="dl-horizontal dt-long">
        <dt>Total downloads</dt>
        <dd>{{gemTotalDownloads | number}}</dd>

        <dt>Current gem version</dt>
        <dd>{{gemDetails.version || '-'}}</dd>

        <dt>Current gem built at</dt>
        <dd>{{(gemBuiltAt | date) || '-'}}</dd>

        <dt>Current version downloads</dt>
        <dd>{{(gemDetails.version_downloads | number) || '-'}}</dd>

        <dt>Platform</dt>
        <dd>{{gemDetails.platform || '-'}}</dd>

        <dt>Authors</dt>
        <dd>{{gemDetails.authors || '-'}}</dd>
      </dl>
    </div>

    <div class="col-lg-7">
      <dl class="dl-horizontal dt-long">
        <dt>Project URL</dt>
        <dd><a ng-href="{{gemDetails.project_uri}}">{{gemDetails.project_uri || '-'}}</a></dd>

        <dt>Gem URL</dt>
        <dd><a ng-href="{{gemDetails.gem_uri}}">{{gemDetails.gem_uri || '-'}}</a></dd>

        <dt>Homepage URL</dt>
        <dd><a ng-href="{{gemDetails.homepage_uri}}">{{gemDetails.homepage_uri || '-'}}</a></dd>

        <dt>Wiki URL</dt>
        <dd><a ng-href="{{gemDetails.wiki_uri}}">{{gemDetails.wiki_uri || '-'}}</a></dd>

        <dt>Documentation URL</dt>
        <dd><a ng-href="{{gemDetails.documentation_uri}}">{{gemDetails.documentation_uri || '-'}}</a></dd>

        <dt>Mailing list URL</dt>
        <dd><a ng-href="{{gemDetails.mailing_list_uri}}">{{gemDetails.mailing_list_uri || '-'}}</a></dd>

        <dt>Source code URL</dt>
        <dd><a ng-href="{{gemDetails.source_code_uri}}">{{gemDetails.source_code_uri || '-'}}</a></dd>

        <dt>Bug tracker URL</dt>
        <dd><a ng-href="{{gemDetails.bug_tracker_uri}}">{{gemDetails.bug_tracker_uri || '-'}}</a></dd>
      </dl>
    </div>
  </div>

  <div ng-show="enabledStats">

    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Select date range to refresh stats</h1>
        <button type="button" class="btn btn-sm" ng-class="{ 'btn-danger' : datepicker.lastDaysValue == 'all' }" ng-click="datepicker.lastDays('all')">All the time</button>
        <button type="button" class="btn btn-sm" ng-class="{ 'btn-danger' : datepicker.lastDaysValue == '365' }" ng-click="datepicker.lastDays(365)">Last 365 Days</button>
        <button type="button" class="btn btn-sm" ng-class="{ 'btn-danger' : datepicker.lastDaysValue == '30' }" ng-click="datepicker.lastDays(30)">Last 30 days</button>
        <button type="button" class="btn btn-sm" ng-class="{ 'btn-danger' : datepicker.lastDaysValue == '7' }" ng-click="datepicker.lastDays(7)">Last 7 days</button>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <h4>Start date</h4>
        <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="datepicker.startDate.model" is-open="datepicker.startDate.opened" min-date="datepicker.minDate" max-date="datepicker.maxDate" ng-required="true" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="datepicker.open($event, 'startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <h4>End date</h4>
        <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="datepicker.endDate.model" is-open="datepicker.endDate.opened" min-date="datepicker.minDate" max-date="datepicker.maxDate" ng-required="true" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="datepicker.open($event, 'endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Recent downloads</h1>
        Daily downloads statistics.

        <canvas id="line" class="chart chart-line"
          data="recentDownloads.data"
          labels="recentDownloads.labels"
          legend="true"
          series="recentDownloads.series">
        </canvas>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Total downloads</h1>
        Total downloads growth.

        <canvas id="line" class="chart chart-line"
          data="totalDownloads.data"
          labels="totalDownloads.labels"
          legend="true"
          series="totalDownloads.series">
        </canvas>
      </div>
    </div>

  </div>

  <div class="row" ng-show="gemDetails">
    <div class="col-lg-12">
      <h1 class="page-header">The most popular gem versions</h1>

      <button type="button" class="btn btn-danger pull-right" ng-click="gemVersionsChart.toggle()">Toggle {{gemVersionsChart.type}}</button>

      <canvas id="base" class="chart-base"
        chart-type="gemVersionsChart.type"
        data="gemVersionsChart.data"
        labels="gemVersionsChart.labels"
        legend="true"></canvas>
    </div>
  </div>

</div>
